html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;

}
a{
    color: cornflowerblue;
}
p,h2,h3,h1,h4{
    padding-left: 40px;
    padding-right: 40px;
}
img{
    block-size: 260px;

}

#vid1{
    position: fixed;
    block-size: 800px;
    z-index: -1;
    top: 0;
}
section > article,header,footer,aside{
    background-color: #be3131;
    text-align: left;
    box-shadow: rgb(109, 103, 103) .5px .5px .5px .5px;
    color: white;
    opacity: 0.8;}

    section{
        grid-template-columns:auto ;
        grid-gap: 10px;
        padding: 10px;
        display: grid;
        padding-top: 57px;
    
    
        }
       
        li{

        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        
        }
    
        nav{
        overflow: hidden;
        background-color: #333;}

        ul a:hover {
            background-color: #ddd;
            color: black;
          }

          ul a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
          }

          li{ overflow : hidden; text-decoration: none:}

          section {
            display: grid;
            grid-template-columns:auto ;
            grid-gap: 10px;
            padding: 10px;
            display: grid;
          }
          
          .m1{
            grid-column: 1 / 3;
            grid-row: 2;
        }
        .m2{
        grid-column: 1/ 3;
            grid-row: 3;}

            header{
                grid-column:1/5 ; grid-row:1;}
                
                footer{
                    grid-column:1/5 ; grid-row:5;}

                    article{ grid-column: 3 / 5;
                        grid-row: 2/4;}
